.trackNumber {
	width: 75px;
}
.trackTitle {
	width: 200px;
}
.trackLength {
	width: 400px;
}
@font-face {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: normal;
	font-weight: 300;
	src: url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
}
span.customFont {
	font-family: "Open Sans Condensed", sans-serif;
}
span.italicFont {
	font-style: italic;
}
a {
	text-decoration: none;
}
a:link {
	color: DarkCyan;
}
a:visited {
	color: DarkMagenta;
}
a:hover {
	text-decoration: underline;;
	background-color: Aquamarine;
}
tbody {
	font-style: italic;
	font-weight: bold;
	background-color: DarkCyan;
}