header li {
	display: inline;
	padding: 15px 15px;
}
header h1 {
	text-align: center;
}
footer div {
	margin:0 auto;
	width: 400px;
	text-align: center;
}
.customFont {
	font-family: 'Germania One', cursive;
}

a {	
	text-decoration: underline;
	font-weight: normal;
}
a:link {
	color: DarkCyan;
}
a:visited {
	color: DarkMagenta;

}
a:hover {
	font-weight: bold;
}
a:active {
	font-weight: normal;
	text-decoration: none;
}